#include "resource.h"

BRICKGAME MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Exit",    IDM_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",   IDM_HELP_ABOUT
    END
END
