LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

BRICKGAME MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New game",        IDM_FILE_NEW_GAME
        MENUITEM "&Exit",            IDM_FILE_EXIT
    END
    POPUP "&Game"
    BEGIN
        MENUITEM "&Tetris",          IDM_GAME_TETRIS
        MENUITEM "&Snake",           IDM_GAME_SNAKE
        MENUITEM "So&koban",         IDM_GAME_SOKOBAN
    END
    POPUP "G&raphics"
    BEGIN
        MENUITEM "&Monochrome",      IDM_GFX_MONOCHROME
        MENUITEM "Colored &tile",    IDM_GFX_COLORED_TILE, CHECKED
        MENUITEM "Colored &pyramid", IDM_GFX_COLORED_PYRAMID
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",           IDM_HELP_ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_GAMEOVERTITLE "Game over!"
    IDS_GAMEOVER "Game over! Your final score is %lu.\nWould you like to start a new game?"
    IDS_YOUWONTITLE "You won!"
    IDS_YOUWON "Congratulation! You won! Your final score is %lu.\nWould you like to start a new game?"
END
