LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

BRICKGAME MENU
BEGIN
    POPUP "&Fájl"
    BEGIN
        MENUITEM "&Új játék", IDM_FILE_NEW_GAME
        MENUITEM "&Kilépés",  IDM_FILE_EXIT
    END
    POPUP "&Játék"
    BEGIN
        MENUITEM "&Tetrisz",   IDM_GAME_TETRIS
        MENUITEM "&Kígyó",    IDM_GAME_SNAKE
    END
    POPUP "&Súgó"
    BEGIN
        MENUITEM "&Névjegy",    IDM_HELP_ABOUT
    END
END
