LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

BRICKGAME MENU
BEGIN
    POPUP "&Fájl"
    BEGIN
        MENUITEM "&Új játék",           IDM_FILE_NEW_GAME
        MENUITEM "&Pálya újraindítása", IDM_FILE_RESTART_LEVEL
        MENUITEM "&Kilépés",            IDM_FILE_EXIT
    END
    POPUP "&Játék"
    BEGIN
        MENUITEM "&Tetrisz",            IDM_GAME_TETRIS
        MENUITEM "&Kígyó",              IDM_GAME_SNAKE
        MENUITEM "&Sokoban",            IDM_GAME_SOKOBAN
    END
    POPUP "&Grafika"
    BEGIN
        MENUITEM "&Monokróm",           IDM_GFX_MONOCHROME
        MENUITEM "Színes &csempe",      IDM_GFX_COLORED_TILE, CHECKED
        MENUITEM "Színes &gúla",        IDM_GFX_COLORED_PYRAMID
    END
    POPUP "&Súgó"
    BEGIN
        MENUITEM "&Névjegy",            IDM_HELP_ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_GAMEOVERTITLE "Vége a játéknak!"
    IDS_GAMEOVER "Vége a játéknak! %lu pontot ért el.\nSzeretne új játékot kezdeni?"
    IDS_YOUWONTITLE "Ön nyert!"
    IDS_YOUWON "Gratulálok! Ön nyert! %lu pontot ért el.\nSzeretne új játékot kezdeni?"
END
